RESTService/Runtime_ESBSE/examples/talend/cxf/jaxrs-jaxws-description-first/common/src/main/resources/data/model/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2010 Talend Inc. - www.talend.com
-->
<wsdl:definitions name="CustomerServiceService" 
     targetNamespace="http://customerservice.example.com/" 
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
     xmlns:tns="http://customerservice.example.com/" 
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
     <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                xmlns:tns="http://customerservice.example.com/" 
                attributeFormDefault="unqualified" 
                elementFormDefault="unqualified" 
                targetNamespace="http://customerservice.example.com/">

         <xs:element name="getCustomersByName" type="tns:getCustomersByName"/>
         <xs:element name="getCustomersByNameResponse" type="tns:getCustomersByNameResponse"/>
         <xs:element name="getCustomerByName" type="tns:getCustomerByName"/>
         <xs:element name="getCustomerByNameResponse" type="tns:getCustomerByNameResponse"/>
         <xs:element name="updateCustomer" type="tns:updateCustomer"/>
         <xs:element name="updateCustomerResponse" type="tns:updateCustomerResponse"/>

         <xs:complexType name="updateCustomer">
            <xs:sequence>
              <xs:element minOccurs="0" name="customer" type="tns:customer"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="updateCustomerResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="return" type="tns:customer"/>
            </xs:sequence>
         </xs:complexType>
         
         <xs:complexType name="customer">
            <xs:sequence>
              <xs:element name="customerId" type="xs:int"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="numOrders" type="xs:int"/>
              <xs:element name="revenue" type="xs:double"/>
              <xs:element name="shares" type="xs:decimal"/>
              <xs:element minOccurs="0" name="birthDate" type="xs:date"/>
              <xs:element minOccurs="0" name="type" type="tns:customerType"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="getCustomerByName">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="getCustomerByNameResponse">
           <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:customer"/>
           </xs:sequence>
         </xs:complexType>

         <xs:complexType name="getCustomersByName">
           <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
           </xs:sequence>
         </xs:complexType>
         
         <xs:complexType name="getCustomersByNameResponse">
           <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customer"/>
           </xs:sequence>
         </xs:complexType>

         <xs:simpleType name="customerType">
            <xs:restriction base="xs:string">
              <xs:enumeration value="PRIVATE"/>
              <xs:enumeration value="BUSINESS"/>
            </xs:restriction>
         </xs:simpleType>
         
         <xs:element name="NoSuchCustomer" type="tns:NoSuchCustomer"/>
         <xs:complexType name="NoSuchCustomer">
           <xs:sequence>
            <xs:element name="customerName" nillable="true" type="xs:string"/>
           </xs:sequence>
         </xs:complexType>
     </xs:schema>
  </wsdl:types>
  
  <wsdl:message name="getCustomersByNameResponse">
    <wsdl:part name="parameters" element="tns:getCustomersByNameResponse"/>
  </wsdl:message>
  
  <wsdl:message name="getCustomersByName">
    <wsdl:part name="parameters" element="tns:getCustomersByName"/>
  </wsdl:message>
  
  <wsdl:message name="getCustomerByNameResponse">
    <wsdl:part name="parameters" element="tns:getCustomerByNameResponse"/>
  </wsdl:message>
  
  <wsdl:message name="getCustomerByName">
    <wsdl:part name="parameters" element="tns:getCustomerByName"/>
  </wsdl:message>
  
  <wsdl:message name="updateCustomer">
    <wsdl:part name="parameters" element="tns:updateCustomer"/>
  </wsdl:message>
  
  <wsdl:message name="updateCustomerResponse">
    <wsdl:part name="parameters" element="tns:updateCustomerResponse"/>
  </wsdl:message>

  <wsdl:message name="NoSuchCustomerException">
    <wsdl:part name="NoSuchCustomerException" element="tns:NoSuchCustomer"/>
  </wsdl:message>
  
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="updateCustomer">
      <wsdl:input name="updateCustomer" message="tns:updateCustomer"/>
      <wsdl:output name="updateCustomerResponse" message="tns:updateCustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomersByName">
      <wsdl:input name="getCustomersByName" message="tns:getCustomersByName"/>
      <wsdl:output name="getCustomersByNameResponse" message="tns:getCustomersByNameResponse"/>
      <wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerByName">
      <wsdl:input name="getCustomerByName" message="tns:getCustomerByName"/>
      <wsdl:output name="getCustomerByNameResponse" message="tns:getCustomerByNameResponse"/>
      <wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceServiceSoapBinding" type="tns:CustomerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomersByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCustomersByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomersByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchCustomerException">
        <soap:fault name="NoSuchCustomerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCustomerByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomerByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchCustomerException">
        <soap:fault name="NoSuchCustomerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerServiceService">
    <wsdl:port name="CustomerServicePort" binding="tns:CustomerServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/services/jaxws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
