RESTService/Runtime_ESBSE/examples/talend/cxf/interceptors/common/src/main/resources/interceptors-wsdl/hello_world.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2010 Talend Inc. - www.talend.com
-->
<wsdl:definitions name="HelloWorld" targetNamespace="http://talend.com/examples/interceptors"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://talend.com/examples/interceptors"
    xmlns:x1="http://talend.com/examples/interceptors/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://talend.com/examples/interceptors/types"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://talend.com/examples/interceptors/types"
            elementFormDefault="qualified">

            <simpleType name="MyStringType">
                <restriction base="string">
                    <maxLength value="30" />
                </restriction>
            </simpleType>

            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="tns:MyStringType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="greetMeRequest">
        <wsdl:part element="x1:greetMe" name="in"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part element="x1:greetMeResponse" name="out"/>
    </wsdl:message>
    

    <wsdl:portType name="Greeter">
        <wsdl:operation name="greetMe">
            <wsdl:input message="tns:greetMeRequest" name="greetMeRequest"/>
            <wsdl:output message="tns:greetMeResponse" name="greetMeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="greetMe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="greetMeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="greetMeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreeterService">
        <wsdl:port binding="tns:Greeter_SOAPBinding" name="GreeterPort">
            <soap:address location="http://localhost:8080/services/InterceptorExample"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

